[Unit]
Description=VPN Client over 4G network
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=270
User=root
ExecStart=sh startupif.sh

[Install]
WantedBy=multi-user.target
